<div class="body d-flex flex-row justify-content-around align-items-center">
  <div class="weather-console bg-white d-flex flex-column rounded ">
    <div class="upper-console bg-success d-flex flex-row justify-content-around align-items-center">
      <img src="../assets/hot-weather.jpg" *ngIf="weatherIsHot">
      <img src="../assets/cold-weather.jpg" *ngIf="!weatherIsHot">
      <div class="console-data">
        <div class="input-group mb-3">
          <span class="input-group-text" id="typed-city">City:</span>
          <input type="text" #cityTyped class="form-control" id="basic-url" aria-describedby="typed-city" (keyup.enter)="retrieveWeatherInformation(cityTyped.value)" >
        </div>
        <div class="location-name fs-1 d-flex flex-column align-items-center">{{cityName}}</div>
        <div class="temperature-value fs-4 d-flex flex-column align-items-center">{{cityTemp}}</div>
      </div>
    </div>
    <div [ngStyle]="{'background-color': changeLowerConsoleBackGroundColor()}" class="lower-console container d-flex flex-column justify-content-around align-items-center">
      <div class="lower-console-within d-flex flex-column ">
        <div class="top-lower-console d-flex flex-row">
          <div class="col-lg-6  d-flex flex-column align-items-center">
            <img src="../assets/pngegg.png" alt="">
            Min: {{minTemp}} 
          </div>
          <div class="col-lg-6  d-flex flex-column align-items-center">
            <img src="../assets/pngegghot.png" alt="">
            Max: {{maxTemp}}
           </div>
        </div>
        <div class="bottom-lower-console d-flex flex-row">
          <div class="col-lg-6  d-flex flex-column align-items-center">
            <img src="../assets/pngegghumi.png" alt="">
            Humidity: {{humidity}}
          </div>
          <div class="col-lg-6  d-flex flex-column align-items-center">
            <img src="../assets/pngeggwind.png" alt="">
            Wind: {{windSpeed}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>